
        #navbar
        {
            height: 80px;
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
            position: relative;
            top: -5px;
        }
        #navbar > div 
        {
            display: flex;
            width: 40%;
            justify-content: center;
            align-items: center;
            justify-content: space-around;
            font-size: 17px;
            color:rgb(58, 63, 58);
        }

        #navbar > div > img
        {
            width: 12%;
            height: 40px;
            /* margin-bottom: 25px; */
        }
        #Select
        {
            border: 0px;
            font-size: 15px;
            color:rgb(58, 63, 58);
        }
        #search { display: flex;justify-content: center; align-items: center;gap: 5px; }
       #wp 
       {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 20%;
        color: rgb(37, 211, 102);
        border-radius: 5px;
        border: 2px solid rgb(37,211,102);
        font-size: 20px;
        font-weight: bold;
        height: 40%;
       }
       #navbar > #Left_nav
       {
        width: 30%;
       }
       #wp ~ div
       {
           border: 2px solid rgb(71,198, 193);
           border-radius: 5px;
           color: rgb(71,198, 193);
           height:20%;
           display: flex;
           justify-content: space-evenly;
           align-items: center;
           padding: 10px;
       }
       #wp ~ div:hover
       {
        cursor: pointer;
        background-color: rgb(245, 239, 239);
       }
        /* NAVBAR */
       #footer
       {
        width: 100%;
        height: 100px;
        /* margin-top: 10px; */
        position: fixed;
        bottom: 0px;
        top: 620px;
        text-align: center;
        background-color:rgb(215,239,239);
        color:rgb(22, 118, 116);
       }
        #shift
        {
            width: 70%;
            margin: auto;            
           color:rgb(22, 118, 116);
           position: relative;
           bottom: 10px;
        }
       
       #shift >form
       {
        display: flex;
        
       }
       #shift > form > input
       {
        width: 250px;
        margin-left: 20px;
        border: 0px;
        /* height: 20px; */
        padding: 10px;
       }
       #shift > form > #size 
        {
          width: 70px;
          border-radius: 40%;
          font-weight: bold;
          background-color:rgb(22, 118, 116);
          color: white;
       }
       #size:hover
       {
        cursor: pointer;
       }
       #mid
       {
        margin-top: 0px;
        /* border: 2px solid red; */
        display: flex;
       }
       /* #mid > img
       {
        width: 70%;
       } */


       .right
       {
        position: absolute;
        right: 250px;
        width: 32%;
        /* border: 2px solid teal; */
       }
       .right > div
       {
        display: flex;
        justify-content: space-between;
       }
       .right > div >div > h2
       {
        color: rgb(3,150,149);
        font-size: 27px;
       }
       .right > div >div > p
       {
        color: gray;
        font-size: 18px;
        font-weight: bold;
    }
    .right > h1
    {
        font-family: 'Poppins', sans-serif;
        font-size: 30px;
        color: rgb(68,68,68);
    }
    .right > p
    {
        color: rgb(3,150,149);
        font-size: 20px;
    }
    span
    {
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        color: rgb(3,150,149);
    }
    span > span
    {
        font-size: 30px;
    }
    .box
    {
        height: 30px;
        /* border: 1px solid teal; */
        width: 50%;
        display: flex;
        align-items: center;
        background-color: rgb(1,191,189);;
        color: white;
        padding: 15px;
        font-family: 'Poppins', sans-serif;
        border-radius: 7px;
    }
    .box~h3
    {
        color: rgb(3,150,149);
    }
    .donate
    {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        /* border: 1px solid brown; */
        box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
        width: 50%;
        margin: auto;
        height: 130px;
        border-radius: 10px;
        color: grey;
        background-color: white;
        /* position: absolute; */
        /* z-index:1;
        left: 350px;
        top:650px; */
    }
    .dnt
    {
        height: 30px;
        width: 50%;
        color: white;
        background-color: rgb(32,75,107);
        margin: 40px;
       padding: 10px;
       border-radius: 10px;
       font-family: 'Poppins', sans-serif;
       display: flex;
       justify-content: center;
       align-items: center;

    }
    .donate > div > img
    {
        margin-left: 30%;
        width: 70%;
        height: 100%;
        border-radius: 10px;
    }
   #dnt_mid
    {
        width: 350px;
        line-height: 15px;
        color: rgb(205,205,205);
    }
    #dnt_mid > h4
    {
       color: rgb(32,75,107);
       font-size: 20px;
    }
    .Tending
    {
        width: 400px;
        margin: auto;
        margin-top: 120px;
        text-align: center;
        font-family: 'Poppins', sans-serif;
        color: rgb(67,67,67);
    }
    #video_steps
    {
        height: 500px;
        width: 70%;
        margin: auto;
        display: flex;
    }
    #video_steps>div:nth-child(1)
    {
        height: 100%;
        width: 55%;
    }
    #video_steps>div:nth-child(2)
    {
        height: 100%;
        width: 45%;
    }
    #video_steps>div+div>video
    {
        height: 100%;
        margin-left: 100px;
    }
    .steps
    {
        display: flex;
    }
    .steps>img
    {
        height: 80%;
        margin-left: 0px;
    }
    .steps>div
    {
        width: 80%;
        height: 100%;
        margin: auto;
    }
    .steps_fund
    {
        margin-top: 70px;
    }
    .story~h2
    {
        margin-top: 50px;
    }
    .steps>div>h2
    {
        color: rgb(11, 191, 189);
    }
    .steps>div>p
    {
       font-size: 18px;
    }
    .steps>div>.story
    {
        color: rgb(67,67,67);
       font-family: 'Poppins', sans-serif;
       font-size: 12px;

    }
    /* sliding screen */
    h1
    {
        text-align: center;
        color: rgb(67,67,67);
    }
    .head
    {
        font-size: 35px;
    }
    #start_btn
    {
        display: flex;
        width: 40%;
        margin: auto;
        margin-top: 70px;
        justify-content: space-between;
    }
    #start_btn>div
    {
        border: 1px solid teal;
        background-color: rgb(1,191,189);
        color: white;
       font-family: 'Poppins', sans-serif;
        padding: 15px;
        font-size: 15px;
        font-weight: bold;
        border-radius: 7px;
        width: 250px;
        text-align: center;
    }
    #start_btn>div~div
    {
        background-color: white;
        color: rgb(1,191,189);
        border: 2px solid rgb(1,191,189);
    }
    #contact_secial
    {
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
        padding: 10px;
        border-radius: 10px;
        width: 70%;
        margin: auto;
        height: 500px;
        display: flex;
        margin-top: 100px;
    }
    #contact_secial>div
    {
        height: 100%;
        width: 45%;
        
    }
    #contact_secial>div>img
    {
        width: 70%;
        height: 100%;
        margin-left: 60px;
    }
    #contact_secial>div:nth-child(2)
    {
        width: 55%;
    }
    #manage_fundraisers
    {
        height: 70%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(140,2);
        gap: 20px;
    }
    #manage_fundraisers>div>img
    {
        width: 30%;
    }
    #manage_fundraisers>div>h3
    {
       font-family: 'Poppins', sans-serif;
       color: rgb(67,67,67);
    }
    #play_store
    {
        margin-top: 10px;
        display: flex;
        width: 70%;
    }
    #play_store>div>img
    {
        width: 70%;  
    }
    #play_store>div:nth-child(1)>img
    {
        height: 90%;
    }
    #causes
    {
        width: 35%;
        text-align: center;
        margin: auto;
        margin-top: 100px;
    }
    #medical
    {
        height: 150px;
        width: 80%;
        margin: auto;
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(6,1fr);
        grid-template-rows: repeat(1,150px);
        gap: 20px;
    }
    #medical>div
    {
        box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
         border-radius: 10px;
         text-align: center;
         font-family: 'Poppins', sans-serif;
         color: rgb(67,67,67);
    }
    #medical>div>img
    {
        width: 100%;
        height: 70%;
    }
    #ketto{
        
        height: 550px;
        display: grid;
        width: 80%;
        margin: auto;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(2,250px);
        gap: 50px;
        text-align: center;
    }
    #ketto>div
    {
        box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
        border-radius: 10px;
    }
    #ketto>div>img
    {
        width: 100%;
        height: 70%;
    }
    #ketto>div>p
    {
        font-size: 20px;
        font-family: 'Poppins', sans-serif;
       color: rgb(67,67,67);
    }
    #story
    {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        width: 80%;
        margin: auto;
        height: 400px;
        border-radius: 10px;
        display: flex;
    }
    #story>div
    {
        height: 100%;
        width: 50%;
    }
    #story>div>img
    {
        height: 100%;
        border-radius: 10px;
    }
    #story>div+div
    {
        width: 45%;
        height: 80%;
        margin: auto;
        font-family: 'Poppins', sans-serif;
       color: rgb(67,67,67);
    }
    #story>div+div>p
    {
        font-size: 17px;
        line-height: 22px;
    }
    .Child_div
    {
        margin-top: 40px;
        display: flex;
        justify-content: space-evenly;
        height: 25px;
        align-items: center;
    }
    .Child_div>div
    {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid rgb(37,211,102);
        color:rgb(37,211,102);
        justify-content: space-evenly;
        width: 120px;
        height: 100%;
        padding: 5px;
        border-radius: 20px;
    }
    .Child_div>div:hover
    {
        cursor: pointer;
        color: white;
        background-color:rgb(37,211,102); ;
    }
    .Child_div>p
    {
        color: rgb(174, 170, 170);
    }
    .btn_succ
    {
        color: rgb(41,201,200);
        border: 0px;
        background-color: white;
    }
    .btn_succ:hover
    {
        cursor: pointer;
        color: blue;
        border: 1px solid blue
    }
    #question_Ask
    {
        /* border: 2px solid black; */
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 80%;
        margin: auto;
        margin-top: 70px;
    }
    #question_Ask>div
    {
        justify-content: space-around;
        color:white;
        background-color: rgba(66, 103, 178);
        padding: 10px;
        border-radius: 20px;
    }
    #question_Ask>div:hover
    {
        cursor: pointer;
        background-color: rgb(59, 89, 152);
    }
    #question_Ask>div>i
    {
        margin-right: 10px;
    }
    #question_Ask>div+div
    {
        background-color:rgb(37,211,102); 
    }
    #question_Ask>div+div:hover
    {
        background-color: #13cb6a;
    }


    #footer_bottom
    {
        background-color: rgb(11,67,65);
      color: white;
      font-family: 'Poppins', sans-serif;
    }
    
    #footer_bottom>p
    {
        text-align: center;
        font-size: 15px;
        padding-bottom: 20px;
    }
    #footer_bottom>div
    {
    
        width: 80%;
        height: 500px;
        display: grid;
        margin: auto;
        grid-template-columns: repeat(5,1fr);
        grid-template-rows: repeat(1,400px);
    }
    #footer_bottom>div>div
    {
        width: 160px;
        margin-top: 50px;
    }
    #footer_bottom>div>div:nth-child(1)
    {
        line-height: 10px;
      margin-right: 50px;
        width:310px;
    }
    #footer_bottom>div>div>img
    {
        width: 40%;
        margin: 0px 100px 30px 10px;
    }
    hr
    {
        background-color:2px solid white;
        margin: -10px 0px 30px 0px;
    }
    #footer_bottom>div>div>div>i
    {
        font-size: 40px;
        color: white;
        margin: auto;
        margin:0px 5px 20px 5px;
    }
    .contact
    {
        margin-top: 50px;
    }
    .footer_icon
    {
        border: 2px solid red;
        height: 50px;
    }
    .know_more
    {
        text-align: center;
        font-family: 'Poppins', sans-serif;
         /* color: rgb(174, 170, 170); */
    }
    .Tending+p
    {
        text-align: center;
    }
    #scroll_trending
    {
        margin: auto;
        height: 420px;
        width: 350px;
        border-radius: 10px;
      font-family: 'Poppins', sans-serif;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
       margin-bottom: 70px;
    }
    #scroll_trending>div
    {
        width: 100%;
        height: 45%;
    }
    #scroll_trending>div>img
    {
        width: 100%;
        height: 100%;
    }
    #scroll_trending>img
    {
        border-radius: 50px;
        width: 40px;
    }
    #scroll_trending > .scroll_name
    {
        height: 10%;
        display: flex;
        align-items: center;
    }
    #scroll_trending > .scroll_name>img
    {
        width: 8%;
        height: 30px;
        border-radius: 50px;
        margin: 0px 20px;
    }
    #scroll_trending>span
    {
        height: 10px;
        display: flex;
        align-items: center;
        margin:-5px 10px 0px 0px  ;
        padding: 15px;
        color: gray;
    }
    #scroll_trending>span
    {
        margin-left: 10px;
        color: rgb(68,68,68);        
    }
    #scroll_trending>span>p
    {
        color: rgb(174, 170, 170);
       margin-left: 5px;
       font-size: 17px;
    }
    #scroll_trending>h4
    {
        height: 10px;
        margin:15px 10px;
    }
    #scroll_trending>.trending_rupey
    {
        display: flex;
        color: rgb(174, 170, 170);
        font-size: 15px;
        height: 5px;
        margin-top: 0px;
    }
    #scroll_trending>.days
    {
        display: flex;
        height: 10px;
    }
    .days>div
    {
        display: flex;
        align-items: center;
        margin: 10px 20px;
    }
    .days>div>p
    {
        color: grey;
    }
    .days>div>i
    {
        margin-right: 5px;
    }
    .days>div~div>i
    {
        color: red;
    }
    #scroll_trending>.scroll_icon
    {
        width: 100%;
        height: 40px;
        width: 90%;
        margin: auto;
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        font-weight: bold;
    }
    #scroll_trending>.scroll_icon>button
    {
        width: 40%;
        color: blue;
        font-size: 17px;
        padding: 5px;
        border-radius: 7px;
        border: 1px solid blue;
        background-color: white;
    }
    #scroll_trending>.scroll_icon>button~button
    {
       color: white;
       background-color: rgb(1,191,189);
       border: 0px;
    }
    #scroll_trending~p
    {
        text-align: center;
    }


              /* sign in */
    .login
    {
        margin: auto;
        margin-top: 100px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
        border-radius: 10px;
        text-align: center;
        width: 400px;
        height: 450px;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        color: rgb(106, 103, 103);
    }
    .login>form
    {
         margin: auto;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        width: 80%;
    }
    .login>form>input
    {
        height: 30px;
        margin: 15px 0px;
    }
    .login>form>input~input
    {
        background-color: rgb(1, 191, 189);
        height: 50px;
        font-size: 20px;
        color: white;
        border: 0px;
        border-radius: 10px;
    }
 
    .login>button
    {
        border: 0px;
        background-color: white;
        border:0px;
        color: rgb(1, 191, 189);
    }
    .login>form>input~input:hover
    {
        cursor: pointer;
        background-color:rgb(6, 163, 161);
    }
    .login>h3>a
    {
        border: 0px;
        color: rgb(1, 191, 189);
        background-color: white;
        font-size: 17px;
        text-decoration: none;
    }
    .login>h5>button
    {
        border: 0px;
        background-color: white;
        color: rgb(1, 191, 189);
    }
    .login >.google
    {
        border: 2px solid black;
        height: 50px;
    }
    .create_acc
    {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        width: 25%;
        /* padding: 2%; */
        height: 520px;
        margin: auto;
        margin-top: 100px;
    }
    .create_acc>button
    {
        display: grid;
    }
    .create_acc>form
    {
        display: grid;
        grid-template-rows: repeat(6,30px);
        width: 90%;
        gap: 20px;
        margin: auto;
    }
    .create_acc>form>input
    {
        border: 0px;
        border-bottom: 1px solid grey;
    }
    .create_acc>form>label
    {
        color: grey;
        font-size: 15px;
        margin: 0px 5px;
    }
    .create_acc>form>label:nth-child(1)
    {
        margin: 25px 5px 0px 5px;
    }
    .create_acc>h3
    {
        text-align: center;
        color: grey;
        
    }
    .create_acc>h3>a
    {
        color: rgb(1, 191, 189);
        text-decoration: none;
    }
    .create_acc>form>.next
    {
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color:rgb(15, 225, 221);
        font-size: 20px;
        font-weight: 700;
        color: white;
        border: 0px; 
        /* text-decoration: none; */
    }
    #treatment
    {
        margin: auto;
        border: 0px;
        border-radius: 35px;
        padding: 0px 20px;
        color: grey;
    }
    .next:hover
    {
        cursor: pointer;
        background-color: deepskyblue;
    }
   
   
   
